//colors
$button-color: #4CAF50;
$button-hover-color: #e74c3c;
$light-gray: #f2f2f2;
$border-gray:  #dddddd;
$primary-black: #171616;
$light-blue: #0fb9ee;
$dark-blue:  #3a7aee;
$sharp-red: #f10202;
$sharp-green:  #30ff00;
$light-black: #49496f;
$dark-gray: #9f9e9e;
$violent: #4158D0;
$light-pink: #d91d8d;
$primary-white: #ffffff;
$gold: burlywood;


//fonts
$primary-font: Academic-Timesl;
$secondary-font: sans-serif;
