@use "./src/assets/variable" as var;
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;

    @media (max-width: 1024px) {
      width: 80%;
    }
  }

  th, td {
    border: 1px solid var.$border-gray;
    padding: 8px;
  }

  th {
    background-color: var.$light-gray;
  }

  button {
    padding: 6px 12px;
    background-color: var.$button-color;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;

    &:hover{
      background-color: var.$button-hover-color;

    }
  }
}
